main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(https://epsilon.aeon.co/images/78ba87e7-7198-4468-81b5-500c505d5bc8/header_essay-gettyimages-1237093074.jpg);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card {
    aspect-ratio: 9/8;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
  }
  
  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #39813a;
    border-radius: 5px;
    transition: all 400ms ease;
  }
  
  .front {
    transform: rotateY(180deg);
  }
  
  .back {
    background-image: url(https://epsilon.aeon.co/images/78ba87e7-7198-4468-81b5-500c505d5bc8/header_essay-gettyimages-1237093074.jpg);
    backface-visibility: hidden;
  }
  
  .reveal-card {
    transform: rotateY(180deg);
  }
  
  .disabled-card {
    filter: saturate(0);
    opacity: 0.5;
  }